<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Ürünlerim</title>
</head>
<body>
<div>
    <div th:fragment="content">

        <h1>Ürünlerim</h1>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Ürün Adı</th>
                <th>Ürün Açıklaması</th>
                <th>Ürün Fiyatı</th>
                <th>Ürün Stok Adedi</th>
                <th>Ürün Kategorisi</th>
                <th>Ürün Durumu</th>
                <th>İşlemler</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.productId}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.productSpecs}"></td>
                <td th:text="${product.productPrice}"></td>
                <td th:text="${product.productCategory}"></td>
                <td>
                    <a th:href="@{'/product/edit/' + ${product.productId}}">Edit</a>
                    <a th:href="@{'/product/delete/' + ${product.productId}}">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>