<div th:fragment="content">
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
            <div class="sm:flex-auto">
                <h1 class="text-base font-semibold leading-6 text-gray-900">
                    Ürünlerim
                </h1>
                <p class="mt-2 text-sm text-gray-700">
                    Satışta olan ürünlerinizi listeleyin ve düzenleyin.
                </p>
            </div>
        </div>
        <div class="-mx-4 mt-8 sm:-mx-0">
            <table class="min-w-full divide-y divide-gray-300">
                <thead>
                <tr>
                    <th
                            scope="col"
                            class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"
                    >
                        Ürün Adı
                    </th>
                    <th
                            scope="col"
                            class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell"
                    >
                        Fiyat
                    </th>
                    <th
                            scope="col"
                            class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell"
                    >
                        Kategori
                    </th>
                    <th
                            scope="col"
                            class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    >
                        Alıcı
                    </th>
                    <th
                            scope="col"
                            class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    >Adres
                    </th>


                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                        <span class="sr-only">Düzenle</span>
                    </th>
                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                        <span class="sr-only">Sil</span>
                    </th>
                </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                <tr th:each=" order : ${orders}">
                    <td
                            class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"
                            th:text="${order.productName}"
                    ></td>
                    <td
                            class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 sm:table-cell"
                            th:text="${order.productPrice}"
                    ></td>
                    <td
                            class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"
                            th:text="${order.category.categoryName}"
                    ></td>

                    <td
                            class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0"
                    >
                        <a
                                th:href="@{/product/edit/{id} (id=${order.productId})}"
                                class="text-indigo-600 hover:text-indigo-900"
                        >Düzenle<span class="sr-only"></span
                        ></a>
                    </td>
                    <td
                            class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0"
                    >
                        <a
                                th:href="@{/product/delete/{id} (id=${order.productId})}"
                                class="text-indigo-600 hover:text-indigo-900 delete-button"
                        >Sil<span class="sr-only"></span
                        ></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const deleteButtons = document.querySelectorAll(".delete-button");

            deleteButtons.forEach(function (button) {
                button.addEventListener("click", function (event) {
                    const confirmed = confirm(
                        "Kullanıcıyı silmek istediğinize emin misiniz?"
                    );
                    if (!confirmed) {
                        event.preventDefault();
                    }
                });
            });
        });
    </script>
</div>



