<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Your Company</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div th:fragment="product">
        <div class="bg-white py-8">
            <div class="container mx-auto px-4 sm:px-6 lg:px-24">
                <h2 class="text-2xl font-bold tracking-tight text-gray-900">Tüm Ürünler</h2>

                <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

                    <div th:each="product : ${products}" class="group relative bg-white border border-gray-200 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-t-md bg-gray-200 lg:aspect-none lg:h-64">
                            <img th:src="${product.productImage}" th:alt="${product.productName}" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                        </div>
                        <div class="mt-4 p-4 flex justify-between">
                            <div>
                                <h3 class="text-sm text-gray-700">
                                    <a th:href="@{/product/{productId}(productId=${product.productId})}" th:text="${product.productName}">
                                        <span aria-hidden="true" class="absolute inset-0"></span>
                                    </a>
                                </h3>
                                <p class="mt-1 text-sm text-gray-500" th:text="${product.sellerName}"></p>
                            </div>
                            <p class="text-sm font-medium text-gray-900">
                                <span th:text="${product.productPrice}"></span> ₺
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>