<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="/img/favicon.ico" th:href="@{/img/favicon.ico}" />

    <title>Home</title>
</head>

<body>
    <header th:insert="~{fragments/header :: header}"></header>
    <main>
        <div th:replace="~{fragments/categories :: categories}"></div>
        <div th:replace="~{fragments/product :: product}"></div>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>