<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header th:replace="fragments/header :: header"></header>
    <main>
        <div th:replace="fragments/categories :: categories"></div>
        <div th:replace="fragments/product :: product"></div>
        <!-- <div th:replace="fragments/drawercart :: drawercart"></div> -->
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>